<div class="center hero-unit">
  <h1>Welcome to Lenka App</h1>
  <h2>
    This is the home page for my first application using
    <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    <hr>
    <div class ="warning">
        Pajo stop watching </br> the p..n!!!
    </div>
    <hr>
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'%>